
<div class="row">
  <div class="col">
    <input #termino (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista" type="text" name="" value="">
  </div>
</div>
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>
