<div [ngClass]="alerta" class="alert" role="alert">
  A simple success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>

<button (click)="alerta='alert-info'" class="btn btn-info" type="button" name="button">Info</button>
<button (click)="alerta='alert-success'" class="btn btn-success" type="button" name="button">Sucess</button>

<br><br>
<h3 [ngClass]="{'text-danger':propiedades.danger,'text-info':!propiedades.anger }">Hola mundo</h3>

<button (click)="propiedades.danger=!propiedades.danger" [ngClass]="{'btn-danger':propiedades.danger,'btn-info':!propiedades.danger}" class="btn" type="button" name="button">Cambiar</button>
<br><br>
<h3>
  Proceso Asincrono
</h3>

<button (click)="ejecutar()" [disabled]="loading" class="btn btn-primary"type="button" name="button">
  <i [ngClass]="{'fa-save':!loading,'fa-refresh fa-spin':loading}" class="fa"></i>
  <span *ngIf="!loading">Guardar cambios</span>
  <span *ngIf="loading">Guardando cambios</span>
</button>
