<!-- <div class="row"> -->
<div class="card-columns">
    <div class="card" *ngFor="let item of sitios">
        <img [src]="item.photoUrl" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{item.nombre}}</h5>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            <button type="button" class="btn btn-outline-primary ">Ver sitio</button>
        </div>
    </div>
</div>
<!-- </div> -->