* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 60px; */
}

input {
  color: grey;
  width: 80%;
  font-size: 1em;
}

.card {
  align-content: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
  justify-content: center;

}

.card img {
  max-height: 170px;
  align-content: center;
  justify-content: center;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}