<div class="row">
  <div class="col-md-12 text-center">
    <p>
      Ingrese al chat con su cuenta favorita.
    </p>

    <button (click)="ingresar('google')"
    class="btn btn-outline-primary"
     type="button"
      name="button">Google</button>
      <button (click)="ingresar('facebook')"
      class="btn btn-outline-info"
       type="button"
        name="button">Facebook</button>
  </div>
</div>
