<h1>Buscando: <small>{{termino}}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length==0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el termino: {{termino}}
    </div>
  </div>
</div>

<div class="card-columns">
<app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>
</div>
