html,
body {
    background-color: #21232A;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    padding: 70px;
}

button {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
}