
<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row" [ngClass]="{'was-validated':(nombre.errors?.minlength || nombre.errors?.required) && nombre.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               [(ngModel)]="usuario.nombre"
               minlength="3"
               required
               #nombre="ngModel"
               >
               <div *ngIf="nombre.errors?.required" class="form-control-feedback"
               [ngClass]=" {  'invalid-feedback': nombre.errors?.required && nombre.touched } " >
                 Este campo es requerido
               </div>
               <div *ngIf="nombre.errors?.minlength" class="form-control-feedback"
               [ngClass]=" {  'invalid-feedback': nombre.errors?.minlength && nombre.touched } "
               >
                 Este campo requiere por lo menos {{nombre.errors.minlength.requiredLength}} caracteres.
               </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               [(ngModel)]="usuario.apellido"
               required
               #apellido="ngModel">
               <div *ngIf="apellido.errors?.required">
                 Este campo es requerido
               </div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             name="email"
             [(ngModel)]="usuario.correo"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #email="ngModel">
             <div *ngIf="email.errors?.required">
               Este campo es requerido
             </div>
             <div *ngIf="email.errors?.pattern">
               El campo no tiene el formato de correo.
             </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
      <select [(ngModel)]="usuario.pais"
      class="form-control" name="pais">
  <option value="">Sleccione un pais</option>
  <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">

      <div *ngFor="let s of sexos" class="custom-control custom-radio custom-control-inline">
        <input [(ngModel)]="usuario.sexo"
         type="radio"
         name="sexo"
         [value]="s"
         class="custom-control-input">
        <label class="custom-control-label" for="sexo">{{s}}</label>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Acepta</label>
    <div class="col-md-8">

      <div [(ngModel)]="usuario.acepta"
      name="acepta"
      required
      class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <label class="custom-control-label" for="acepta">Aceptal las condiciones</label>
      </div>

    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>
