<div class="limiter animated fadeInLeft">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form
                [formGroup]="forma" (ngSubmit)="guardarCambios()"
                class="login100-form validate-form flex-sb flex-w">

                    <span class="login100-form-title p-b-51">
                        Crear nueva cuenta
                    </span>

                    <span *ngIf="submit && forma.controls['email'].errors?.required"
                     class="text-danger animated fadeIn">El correo es obligatorio</span>
                     <span *ngIf="submit && forma.controls['email'].invalid"
                      class="text-danger animated fadeIn">El correo no es valido</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                               type="email"
                               email
                               formControlName="email"
                               placeholder="Email">
                        <span class="focus-input100"></span>
                    </div>

                    <span *ngIf="submit && forma.controls['password'].errors?.required"
                     class="text-danger animated fadeIn">La contraseña es obligatorio</span>
                     <span *ngIf="submit && forma.controls['password'].errors?.minlength"
                      class="text-danger animated fadeIn">Requiere minimo 6 caracteres</span>
                      <span *ngIf="submit && forma.controls['password'].value != forma.controls['password2'].value"
                       class="text-danger animated fadeIn">Las contraseñas no coinciden</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                               type="password"
                               formControlName="password"
                               placeholder="Password">
                        <span class="focus-input100"></span>
                    </div>

                    <span *ngIf="submit && forma.controls['password2'].errors?.required"
                     class="text-danger animated fadeIn">Este campo es obligatorio</span>
                     <span *ngIf="submit && forma.controls['password2'].errors?.minlength"
                     class="text-danger animated fadeIn">Requiere minimo 6 caracteres</span>
                     <span *ngIf="submit && forma.controls['password'].value != forma.controls['password2'].value"
                      class="text-danger animated fadeIn">Las contraseñas no coinciden</span>
                    <div class="wrap-input100 m-b-16">
                        <input class="input100"
                               type="password"
                               formControlName="password2"
                               placeholder="Repeat Password">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox">
                            <label class="label-checkbox100" for="ckb1">
                                Recordar mi usuario
                            </label>
                        </div>

                        <div>
                            <a routerLink="/login" class="txt1">
                                ¿Ya tienes cuenta? / Ingresar
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="submit">
                            Crear cuenta
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
