<div class="limiter  animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form
            [formGroup]="forma" (ngSubmit)="onSubmit(submit)"
            class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="submit && forma.controls['email'].errors?.required"
                 class="text-danger animated fadeIn">El correo es obligatorio</span>
                 <span *ngIf="submit && forma.controls['email'].invalid"
                  class="text-danger animated fadeIn">El correo no es valido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="email"
                           email
                           formControlName="email"
                           placeholder="Email">
                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="submit && forma.controls['password'].errors?.required"
                 class="text-danger animated fadeIn">La contraseña es obligatorio</span>
                 <span *ngIf="submit && forma.controls['password'].errors?.minlength"
                  class="text-danger animated fadeIn">Requiere minimo 6 caracteres</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="password"
                           formControlName="password"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" #rememberMe>
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit" >
                        Ingresar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
