<div class="container main-container">
  <h1>Firechat</h1>


<div class="col-md-12 text-right">
  <button (click)="_cs.logout()"
  *ngIf="_cs.usuario.uid"
  class="btn btn-outline-danger"
  type="button" name="button">Salir</button>
</div>

<app-login *ngIf="!_cs.usuario.uid"></app-login>

  <div class="chat-window" *ngIf="_cs.usuario.uid">
    <app-chat></app-chat>
  </div>


</div>
