<div *ngIf="dataDisponible==true" class="col-md-12">


<div id="divtime1" class="col-1">
  <div id="imagen">
    <div class="">
      <img *ngIf="urlImg==null" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle">
    </div>
    <div class="">
      <img *ngIf="urlImg!=null" [src]="urlImg" width="200" height="200" class="rounded-circle">
    </div>
    <div class="" style="margin-top:8px">
      <button (click)="cambiarImagen()" class="btn btn-primary"type="button" name="button">Cambiar imagen</button>
    </div>
  </div>
</div>

    <div class="container col-4" *ngIf="editar==false">
      <div class="wrap-input1 validate-input">
        <p>Correo: {{bebeInfo.email}}</p>
        <p>Nombre: {{bebeInfo.nombre}}</p>
        <p>Apellido: {{bebeInfo.apellido}}</p>
        <p>Edad(Meses): {{bebeInfo.edad}}</p>
        <p>Altura(Cm): {{bebeInfo.altura}}</p>
        <p>Peso(Kg): {{bebeInfo.peso}}</p>
        <p>Sexo: {{bebeInfo.sexo}}</p>
      </div>
    </div>
		<div class="container col-4" >

			<form [formGroup]="forma" *ngIf="editar==true"
			class="form">
				<div class="wrap-input1 validate-input" >
					<input formControlName="nombre"
					class="input1" type="text" placeholder="Nombre">
					<span class="shadow-input1"></span>
				</div>

        <div class="wrap-input1 validate-input">
          <input formControlName="apellido"
					class="input1" type="text" placeholder="Apellido">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input">
          <input formControlName="edad"
					class="input1" type="text" placeholder="Edad (Meses)">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input">
          <input formControlName="sexo"
					class="input1" type="text" name="sexo" placeholder="Sexo">
          <span class="shadow-input1"></span>
        </div>

        <div class="wrap-input1 validate-input">
          <input formControlName="peso"
					class="input1" type="text" placeholder="Peso">
          <span class="shadow-input1"></span>
        </div>

			</form>
      <div >
        <button (click)="editarForm()" *ngIf="editar==false"
        class="contact1-form-btn">
          <span>
            Editar
          </span>
        </button>
      </div>
      <div >
        <button (click)="enviar()" *ngIf="editar==true" class="contact1-form-btn">
          <span>
            Enviar
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </span>
        </button>
      </div>
		</div>
    <div class="col-2">
      <div >
        <button (click)="reloadPage()" *ngIf="editar==true" class="contact1-form-btn">
          <span>
            Atras
            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
          </span>
        </button>
      </div>
    </div>
</div>
