<app-loading *ngIf="loading"></app-loading>
<div  *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>
    <p>
      {{mensajeError}}
    </p>
  </h3>
</div>
<app-tarjetas [items]="nuevasCanciones" ></app-tarjetas>
