<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="../../../../assets/images2/icons/favicon.ico"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../assets/vendor/animate/animate.css">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="../../../../assets/vendor/css-hamburgers/hamburgers.min.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
</head>
<body class="animated fadeInRight">

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic" data-tilt>
				<img src="../../../../assets/bebe.jpg" style="border-radius: 10%;" alt="IMG">
			</div>

			<form [formGroup]="forma" (ngSubmit)="enviar()"
			class="contact1-form validate-form">
				<span class="contact1-form-title">
					Formulario Bebe
				</span>

				<span *ngIf="submit && forma.controls['nombre'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['nombre'].errors?.minLength"
					class="text-danger animated fadeIn">Requiere minimo 4 caracteres</span>
				<div class="wrap-input1 validate-input" >
					<input formControlName="nombre"
					class="input1" type="text" placeholder="Nombre">
					<span class="shadow-input1"></span>
				</div>

				<span *ngIf="submit && forma.controls['apellido'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['apellido'].errors?.minLength"
					class="text-danger animated fadeIn">Requiere minimo 4 caracteres</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="apellido"
					class="input1" type="text" placeholder="Apellido">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['edad'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="edad"
					class="input1" type="text" placeholder="Edad (Meses)">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['altura'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="altura"
					class="input1" type="text" name="altura" placeholder="Altura">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['peso'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="peso"
					class="input1" type="text" placeholder="Peso">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['sexo'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				<div id="select1" class="form-group wrap-input1">
        <select formControlName="sexo"
				class="form-control input1" >
          <option>Niño</option>
          <option>Niña</option>
        </select>
      </div>
				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn">
						<span>
							Enviar
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

<!--===============================================================================================-->
	<!-- <script src="../../../../assets/vendor2/select2/select2.min.js"></script> -->

</body>
</html>
