@font-face {
  font-family: Montserrat-Regular;
  src: url('../../../../assets/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../../../../assets/fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('../../../../assets/fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../../../../assets/fonts/montserrat/Montserrat-Medium.ttf');
}
#select1{
margin-top: 25px;
font-family: Montserrat-Bold;
height: 50px;
border-radius: 25px;
padding: 0 30px;
}
