<div class="container">
  <h1>Selecciona el tipo de usuario</h1>
</div>
  <div id="card-pediatra" class="card" style="width: 18rem;">
    <img  class="card-img-top"  src="../../../../assets/pediatra.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 id="user" class="card-title" >Pediatra</h5>
      <button (click)="clickPediatra()" class="btn btn-primary btn-sm btn-block" style="">Elegir</button>
    </div>
  </div>
  <div id="card-pediatra" class="card" style="width: 18rem;">
    <img  class="card-img-top"  src="../../../../assets/bebe.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 id="user" class="card-title">Bebe</h5>
      <button (click)="clickBebe()" class="btn btn-primary btn-sm btn-block" style="">Elegir</button>
    </div>
  </div>
