
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.btn-primary{
  background-color: #7386D5;
  border-color:#7386D5;
}
.btn-primary:active,
.btn-primary:hover{
  background-color: white;
  color:#7386D5;
  border-color: #7386D5 !important;
}

#user{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#card-pediatra{
 display:inline-block;
  position: relative;
  margin-top: 5%;
  margin-left: 18%;
}

.container{
  margin-top: 3%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
