<div class="card animated fadeIn fast" >
  <img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
  <div class="card-block">
    <h5 class="card-title">{{heroe.nombre}}</h5>
    <p class="card-text">{{heroe.bio}}</p>
    <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
    <button (click)="verHeroe()" class="btn btn-outline-primary btn-block" type="button" name="button">Ver mas</button>
    <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver mas</a> -->
  </div>
</div>
