<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="../../../../assets/images2/icons/favicon.ico"/> -->
<!--===============================================================================================-->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../assets/vendor/animate/animate.css">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="../../../../assets/vendor/css-hamburgers/hamburgers.min.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../../assets/vendor/select2/select2.min.css">

<!--===============================================================================================-->
</head>
<body class="animated fadeInRight">

	<div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic" data-tilt>
				<img src="../../../../assets/pediatra.jpg" style="border-radius: 10%;" alt="IMG">

			</div>


			<form [formGroup]="forma" (ngSubmit)="enviar()"
			class="contact1-form validate-form">
				<span class="contact1-form-title">
					Formulario Pediatra
				</span>

				<span *ngIf="submit && forma.controls['nombre'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['nombre'].errors?.minlength"
					class="text-danger animated fadeIn">Requiere minimo 4 caracteres</span>
				<div class="wrap-input1 validate-input" >
					<input formControlName="nombre"
					class="input1" type="text" placeholder="Nombre">
					<span class="shadow-input1"></span>
				</div>

				<span *ngIf="submit && forma.controls['apellido'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['apellido'].errors?.minlength"
					class="text-danger animated fadeIn">Requiere minimo 4 caracteres</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="apellido"
					class="input1" type="text" placeholder="Apellido">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['edad'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['edad'].errors?.minlength"
					class="text-danger animated fadeIn">Requiere minimo 4 caracteres</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="edad"
					class="input1" type="text" placeholder="Edad">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['universidad'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['universidad'].errors?.minlength"
					class="text-danger animated fadeIn">Requiere minimo 3 caracteres</span>
        <div class="wrap-input1 validate-input">
          <input formControlName="universidad"
					class="input1" type="text" placeholder="Universidad">
          <span class="shadow-input1"></span>
        </div>

				<span *ngIf="submit && forma.controls['ciudad'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				 <span *ngIf="submit && forma.controls['ciudad'].errors?.minlength"
					class="text-danger animated fadeIn">Requiere minimo 4 caracteres</span>
				<div class="wrap-input1 validate-input">
					<input formControlName="ciudad"
					class="input1" type="text" placeholder="Ciudad">
					<span class="shadow-input1"></span>
				</div>

				<span *ngIf="submit && forma.controls['sexo'].errors?.required"
				 class="text-danger animated fadeIn">Este campo es obligatorio</span>
				<div id="select1" class="form-group wrap-input1">
        <select formControlName="sexo"
				class="form-control input1" >
          <option>Mujer</option>
          <option>Hombre</option>
        </select>
      </div>
<!--
				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<input class="input1" type="text" name="email" placeholder="Email">
					<span class="shadow-input1"></span>
				</div> -->

				<!-- <div class="wrap-input1 validate-input" data-validate = "Subject is required">
					<input class="input1" type="text" name="subject" placeholder="Subject">
					<span class="shadow-input1"></span>
				</div> -->

				<!-- <div class="wrap-input1 validate-input" data-validate = "Message is required">
					<textarea class="input1" name="message" placeholder="Message"></textarea>
					<span class="shadow-input1"></span>
				</div> -->

				<div class="container-contact1-form-btn">
					<button  class="contact1-form-btn">
						<span>
							Enviar
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>

<!--===============================================================================================-->
	<!-- <script src="../../../../assets/vendor2/select2/select2.min.js"></script> -->
  <!--===============================================================================================-->


</body>
</html>
