<h1 class="animated fadeIn">{{heroe.nombre|uppercase}} <small> ({{heroe.aparicion|date:'y'}})</small></h1>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-4">
    <img [src]="heroe.img" [alt]="heroe.nombre" class="img-fluid">
    <br><br>
    <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>

  <div class="col-md-8">
    <h3>{{heroe.nombre}}</h3>
    <br>
    <p>{{heroe.bio}}</p>
    <div>
        <img *ngIf="heroe.casa=='Marvel'" class="img-logo" src="assets/img/MarvelLogo.svg" alt="Marvel">
        <img *ngIf="heroe.casa=='DC'" class="img-logo" src="assets/img/dclogo.jpg" alt="DC">
    </div>

  </div>
  </div>
