
<h1>
  Heroes
</h1>

<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-12 text-right">
    <button [routerLink]="['/heroe','nuevo']"
    class="btn btn-outline-primary"
      type="button" name="button">Nuevo</button>
  </div>
</div>
<br>
<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <table class="table">
      <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Casa</th>
      <th scope="col" class="text-right" >Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of heroes|keys; let i=index" >
      <td>{{i+1}}</td>
      <td>{{heroes[k].nombre}}</td>
      <td>{{heroes[k].casa}}</td>
      <td class="text-right w120">
        <button [routerLink]="['/heroe',k]"
        class="btn btn-outline-success"
        type="button"
        name="button">Editar</button>
        <button (click)="borrar(k)"
        class="btn btn-outline-danger"
        type="button"
        name="button">Eliminar</button>
      </td>
    </tr>
  </tbody>
    </table>
    <div *ngIf="(heroes|keys).length==0 && !loading"
    class="alert alert-info"
    role="alert">
      <strong>No hay registros que mostrar</strong>
    </div>

    <div *ngIf="loading"
    class="alert alert-warning" role="alert">
      <strong>Cargando...</strong> por favor espere
    </div>
  </div>
</div>
