{{> header}}
{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>Una imagen</h1>
  </div>
  <div class="col-4">
    <img src="assets/img/1.jpg" height="200" alt="" class="img-thumbnail">
  </div>
</div>

{{> footer}}
