<h4>Formularios <small>template</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()">

  <div formGroupName="nombreCompleto">

    <div class="form-group row">
          <label class="col-2 col-form-label">Nombre</label>
          <div class="col-8 ">
            <input class="form-control"  [ngClass]="{'is-invalid':forma.get('nombreCompleto.nombre').invalid}"
                   type="text"
                   placeholder="Nombre"
                   formControlName="nombre">
            <div class="invalid-feedback">
              <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required"
                    class="form-control-feedback">
                  Campo requerido
              </div>
              <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength"
                    class="form-control-feedback">
                  Al menos 3 caracteres
              </div>
            </div>
          </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Username</label>
    <div class="col-md-8">

      <input class="form-control"
             type="text"
             placeholder="Usuario"
             formControlName="username">
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Password"
             formControlName="password1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir Password</label>
    <div class="col-md-8">

      <input class="form-control"
             type="password"
             placeholder="Repetir Password"
             formControlName="password2">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-md-8" formArrayName="pasatiempos">

        <input  *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i=index"
        [formControlName]="i"
        class="form-control"
        type="text"
        name=""
        value="">

    </div>

    <button class="btn btn-primary" type="button" name="button" (click)="agregarPasatiempo()">Nuevo</button>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
{{forma.valid}}
<br>
{{forma.status}}
</form>
