<div class="container col-7" style="padding-top: 2%; margin-left: 3%;">
    <h3>
        Formulario registro sitio turistico
    </h3>
    <form [formGroup]="forma" (ngSubmit)="guardar()">
        <div class="form-group">
            <label>Nombre sitio turisitico</label>
            <input type="text" class="form-control" formControlName="nombreSitio">
        </div>
        <div class="form-group">
            <label>Descripcion del sitio</label>
            <textarea class="form-control" formControlName="descripcionSitio" rows="3"></textarea>
        </div>
        <span>Horarios</span>
        <div class="form-group" formGroupName="horarios">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Lunes-Viernes</span>
                </div>
                <input type="time" class="form-control" formControlName="horario1Open">
                <input type="time" class="form-control" formControlName="horario1Close">
            </div>
            <hr>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Sabados, Domingos y Festivos</span>
                </div>
                <input type="time" class="form-control" formControlName="horario2Open">
                <input type="time" class="form-control" formControlName="horario2Close">
            </div>
        </div>
        <span>Coordenadas</span>
        <div class="form-group" formGroupName="coordenadas">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Log-Lat</span>
                </div>
                <input type="text" class="form-control" formControlName="log">
                <input type="text" class="form-control" formControlName="lat">
            </div>
        </div>
        <span>Categoria</span>
        <select class="custom-select custom-select-sm" formControlName="categoria">
            <option selected>Selecciona la categoria</option>
            <option value="SITIO">Sitio turistico</option>
            <option value="HOTEL">Hotel</option>
            <option value="RESTAURANTE">Restaurante</option>
          </select>
        <span>Facilidad de acceso</span>
        <select class="custom-select custom-select-sm" formControlName="facilidadAcceso">
            <option selected>Selecciona la facilidad de accceso al lugar</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>

        <span>Imagenes</span>
        <input type="file" class="form-control" (change)="onFileChange($event)" multiple/>
        <!-- <div class="row">
            <div class="col">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>ID</th>
                            <th>Imagen</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="imagenes">
                        <tr *ngFor="let control of imagenesGet.controls; let i = index">
                            <td>{{i + 1}}</td>
                            <td>
                                <input class="form-control" type="file" (change)="onFileChange($event)" [formControlName]="i" />
                            </td>
                            <td>
                                <button class="btn btn-danger" type="button" (click)="borrarImagen(i)">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary mt-3 btn-block" type="button" (click)="agregarImagen()">+ Agregar</button>
            </div>
        </div> -->
        <hr>
        <button type="submit" class=" btn btn-success ">Enviar</button>
    </form>
</div>
<hr>
<pre>
    {{forma.value | json}}
</pre>
<pre>
    Estado: {{forma.valid}}
</pre>