<h1>Chats</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

<div [ngClass]="{'text-right': _cs.usuario.uid==chat.uid}"
*ngFor="let chat of _cs.chats">
  <span class="badge"
  [ngClass]="{'badge-primary': _cs.usuario.uid==chat.uid,
              'badge-success':_cs.usuario.uid!=chat.uid}">
                    {{chat.nombre}}</span>
  <p>{{chat.mensaje}}</p>
</div>



</div>
<input
class="form-control"
type="text"
name="mensajes"
[(ngModel)]="mensaje"
(keyup.enter)="enviar_mensaje()"
placeholder="Enviar mensaje">
