<mat-card>
    <mat-card-title>Mapa</mat-card-title>
    <mat-card-content>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </mat-card-content>
</mat-card>